$font-path: './assets/fonts/GT-Walsheim';

@mixin fontFace($font-name, $fontFile, $fontWeight: 400, $fontStyle: normal) {
  @font-face {
    font-display: swap;
    font-family: #{$font-name};
    src:
      url('#{$font-path}/#{$fontFile}.woff') format('woff'),
      url('#{$font-path}/#{$fontFile}.woff2') format('woff2');
    font-weight: #{$fontWeight};
    font-style: #{$fontStyle};
  }
}

$font-name: 'GT Walsheim Pro';

@include fontFace($font-name, 'GT-Walsheim-Pro-Ultra-Bold', '900');
@include fontFace($font-name, 'GT-Walsheim-Pro-Ultra-Bold-Oblique', '900', 'italic');
@include fontFace($font-name, 'GT-Walsheim-Pro-Black', '800');
@include fontFace($font-name, 'GT-Walsheim-Pro-Black-Oblique', '800', 'italic');
@include fontFace($font-name, 'GT-Walsheim-Pro-Bold', '700');
@include fontFace($font-name, 'GT-Walsheim-Pro-Bold-Oblique', '700', 'italic');
@include fontFace($font-name, 'GT-Walsheim-Pro-Medium', '500');
@include fontFace($font-name, 'GT-Walsheim-Pro-Medium-Oblique', '500', 'italic');
@include fontFace($font-name, 'GT-Walsheim-Pro-Regular', '400');
@include fontFace($font-name, 'GT-Walsheim-Pro-Regular-Oblique', '400', 'italic');
@include fontFace($font-name, 'GT-Walsheim-Pro-Light', '300');
@include fontFace($font-name, 'GT-Walsheim-Pro-Light-Oblique', '300', 'italic');
@include fontFace($font-name, 'GT-Walsheim-Pro-Thin', '200');
@include fontFace($font-name, 'GT-Walsheim-Pro-Thin-Oblique', '200', 'italic');
@include fontFace($font-name, 'GT-Walsheim-Pro-Ultra-Light', '100');
@include fontFace($font-name, 'GT-Walsheim-Pro-Ultra-Light-Oblique', '100', 'italic');

$font-name: 'GT Walsheim Pro Condensed';

@include fontFace($font-name, 'GT-Walsheim-Pro-Condensed-Ultra-Bold', '900');
@include fontFace($font-name, 'GT-Walsheim-Pro-Condensed-Ultra-Bold-Oblique', '900', 'italic');
@include fontFace($font-name, 'GT-Walsheim-Pro-Condensed-Black', '800');
@include fontFace($font-name, 'GT-Walsheim-Pro-Condensed-Black-Oblique', '800', 'italic');
@include fontFace($font-name, 'GT-Walsheim-Pro-Condensed-Bold', '700');
@include fontFace($font-name, 'GT-Walsheim-Pro-Condensed-Bold-Oblique', '700', 'italic');
@include fontFace($font-name, 'GT-Walsheim-Pro-Condensed-Medium', '500');
@include fontFace($font-name, 'GT-Walsheim-Pro-Condensed-Medium-Oblique', '500', 'italic');
@include fontFace($font-name, 'GT-Walsheim-Pro-Condensed-Regular', '400');
@include fontFace($font-name, 'GT-Walsheim-Pro-Condensed-Regular-Oblique', '400', 'italic');
@include fontFace($font-name, 'GT-Walsheim-Pro-Condensed-Light', '300');
@include fontFace($font-name, 'GT-Walsheim-Pro-Condensed-Light-Oblique', '300', 'italic');
@include fontFace($font-name, 'GT-Walsheim-Pro-Condensed-Thin', '200');
@include fontFace($font-name, 'GT-Walsheim-Pro-Condensed-Thin-Oblique', '200', 'italic');
@include fontFace($font-name, 'GT-Walsheim-Pro-Condensed-Ultra-Light', '100');
@include fontFace($font-name, 'GT-Walsheim-Pro-Condensed-Ultra-Light-Oblique', '100', 'italic');
