@font-face {
  font-display: swap;
  font-family: GT Walsheim;
  font-weight: 200;
  src:
    url(./assets/fonts/GT-Walsheim/GT-Walsheim-Thin-subset.woff2) format('woff2'),
    url(./assets/fonts/GT-Walsheim/GT-Walsheim-Thin-subset.woff) format('woff');
}

@font-face {
  font-display: swap;
  font-family: GT Walsheim;
  font-weight: 300;
  src:
    url(./assets/fonts/GT-Walsheim/GT-Walsheim-Light-subset.woff2) format('woff2'),
    url(./assets/fonts/GT-Walsheim/GT-Walsheim-Light-subset.woff) format('woff');
}

@font-face {
  font-display: swap;
  font-family: GT Walsheim;
  font-weight: 400;
  src:
    url(./assets/fonts/GT-Walsheim/GT-Walsheim-Regular-subset.woff2) format('woff2'),
    url(./assets/fonts/GT-Walsheim/GT-Walsheim-Regular-subset.woff) format('woff');
}

@font-face {
  font-display: swap;
  font-family: GT Walsheim;
  font-weight: 400;
  font-style: italic;
  src:
    url(./assets/fonts/GT-Walsheim/GT-Walsheim-Regular-Oblique-subset.woff2) format('woff2'),
    url(./assets/fonts/GT-Walsheim/GT-Walsheim-Regular-Oblique-subset.woff) format('woff');
}

@font-face {
  font-display: swap;
  font-family: GT Walsheim;
  font-weight: 500;
  src:
    url(./assets/fonts/GT-Walsheim/GT-Walsheim-Medium-subset.woff2) format('woff2'),
    url(./assets/fonts/GT-Walsheim/GT-Walsheim-Medium-subset.woff) format('woff');
}

@font-face {
  font-display: swap;
  font-family: GT Walsheim;
  font-weight: 500;
  font-style: italic;
  src:
    url(./assets/fonts/GT-Walsheim/GT-Walsheim-Medium-Oblique-subset.woff2) format('woff2'),
    url(./assets/fonts/GT-Walsheim/GT-Walsheim-Medium-Oblique-subset.woff) format('woff');
}

@font-face {
  font-display: swap;
  font-family: GT Walsheim;
  font-weight: 700;
  src:
    url(./assets/fonts/GT-Walsheim/GT-Walsheim-Bold-subset.woff2) format('woff2'),
    url(./assets/fonts/GT-Walsheim/GT-Walsheim-Bold-subset.woff) format('woff');
}

@font-face {
  font-display: swap;
  font-family: GT Walsheim;
  font-weight: 800;
  src:
    url(./assets/fonts/GT-Walsheim/GT-Walsheim-Black-subset.woff2) format('woff2'),
    url(./assets/fonts/GT-Walsheim/GT-Walsheim-Black-subset.woff) format('woff');
}
