// Default font family
$font-base:
  GT Walsheim,
  sans-serif;

// Massive font weight
$font-head: stolzl, sans-serif;

// Serif font style
$font-serif: proxima-sera, serif;

$color-cyan-1: #1b5d7f;
$color-cyan-2: #3e8599;
$color-cyan-3: #78c7c1;
