@import 'variables';

// Bootstrap overrides
$font-family-sans-serif: $font-base;
$headings-font-family: $font-head;

$primary: $color-cyan-3;
$secondary: $color-cyan-1;

// Bootstrap icons
$bootstrap-icons-font-dir: 'bootstrap-icons/font/fonts';

// Configuration
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
