@import 'app';

// Layout & components
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
//@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
//@import 'bootstrap/scss/button-group';
//@import 'bootstrap/scss/nav';
//@import 'bootstrap/scss/navbar';
//@import 'bootstrap/scss/card';
//@import 'bootstrap/scss/accordion';
//@import 'bootstrap/scss/breadcrumb';
//@import 'bootstrap/scss/pagination';
//@import 'bootstrap/scss/badge';
//@import 'bootstrap/scss/alert';
//@import 'bootstrap/scss/progress';
//@import 'bootstrap/scss/list-group';
//@import 'bootstrap/scss/close';
//@import 'bootstrap/scss/toasts';
//@import 'bootstrap/scss/modal';
//@import 'bootstrap/scss/tooltip';
@import 'bootstrap/scss/popover';
//@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/spinners';
//@import 'bootstrap/scss/offcanvas';
//@import 'bootstrap/scss/placeholders';

// Helpers
@import 'bootstrap/scss/helpers';

// Utilities
@import 'bootstrap/scss/utilities/api';

// Icons
@import 'bootstrap-icons/font/bootstrap-icons';

// Custom
.resume-container {
  padding-top: 6rem;
  width: 80%;
  margin: 0 auto;
}

.resume-line-x {
  height: 3px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 3rem;
  background: $gradient-cyan;
}

.resume-social {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-hello {
  font-size: 6rem;
  font-weight: 800;
  background: $gradient-cyan-bright;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resume-boxed {
  font-family: $font-display;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0.5rem 3rem;
  letter-spacing: 1px;
}

.resume-description {
  p {
    text-indent: 2rem;
  }
}

.resume-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 2rem 0;

  li {
    padding: 0.25rem;
    font-weight: 400;
    font-size: 1.5rem;
    display: block;
    margin: 0;
  }

  a {
    color: $dark;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s color ease-in-out;
    line-height: 2rem;

    &:hover {
      color: $primary;
    }

    &.link-lg {
      font-weight: 700;
      font-size: 2rem;
    }
  }
}

.resume-picture {
  img {
    width: 15rem;
    margin: 0 auto;
  }
}

.resume-soft {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
  margin-block-start: 0.5rem;
  margin-block-end: 2.5rem;
}

.resume-timeline {
  $logo-size: 5vw;

  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 1rem;

  &__logo {
    width: $logo-size;
    max-width: 100px;

    img {
      width: 100%;
    }
  }

  &__dot {
    --dot-size: 8px;
    --dot-color: #{$secondary};

    width: 1.5rem;
    height: 1.5rem;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    i {
      box-sizing: border-box;
      display: block;
      width: var(--dot-size);
      height: var(--dot-size);
      border-radius: 50%;
      background: var(--dot-color);
      position: relative;
      border: 1px solid var(--dot-color);

      &::before {
        content: '';
        display: block;
        width: var(--dot-size);
        height: var(--dot-size);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(2.5);
        background: var(--dot-color);
        z-index: -1;
        border-radius: 50%;
        opacity: 0;
      }
    }
  }

  &__logo + &__dot {
    --dot-size: 12px;

    align-self: center;

    i {
      background: #fff;

      &::before {
        opacity: 0.1;
      }
    }
  }

  &__name {
    font-family: $font-display;
    font-size: 1.5rem;
    font-style: italic;
    align-self: center;
    line-height: 1.2;

    em {
      display: block;
      font-size: 0.875rem;
      color: $gray-500;
    }
  }

  &__date {
    font-style: italic;
    color: $gray-500;
    font-family: $font-cond;
    justify-self: center;
  }

  .date-end {
    font-weight: bold;
    margin-bottom: 0.75rem;
  }

  .date-start {
    font-weight: 200;
    font-size: 0.875rem;
    line-height: 1.4;
  }

  &__position {
    p {
      line-height: 1.5;
      font-size: 1.125rem;
    }
  }
}
