@use 'sass:math';

@import 'app';
@import 'fonts';

// Layout & components
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/popover';
@import 'bootstrap/scss/spinners';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/navbar';

// Helpers
@import 'bootstrap/scss/helpers';

// Utilities
@import 'bootstrap/scss/utilities/api';

// Icons
@import 'bootstrap-icons/font/bootstrap-icons';

// App vars

@include color-mode(light, true) {
  $brand-primary: $primary;
  $brand-secondary: shift-color($brand-primary, 40%);
  $brand-light: $gray-200;
  $brand-gray: $gray-500;
  $brand-dark: $gray-800;
  $brand-border: $brand-dark;
  $brand-scroll-border: darken($brand-light, 5%);
  $brand-selection: saturate(lighten($brand-primary, 15%), 20%);

  --brand-primary: #{$brand-primary};
  --brand-secondary: #{$brand-secondary};
  --brand-light: #{$brand-light};
  --brand-gray: #{$brand-gray};
  --brand-dark: #{$brand-dark};
  --brand-border: #{$brand-border};
  --brand-scroll-border: #{$brand-scroll-border};
  --brand-selection: #{$brand-selection};
  --brand-gradient: linear-gradient(135deg, var(--brand-primary), var(--brand-secondary));
}

@if $enable-dark-mode {
  @include color-mode(dark, true) {
    $brand-primary: darken($primary, 10%);
    $brand-secondary: shift-color($brand-primary, 40%);
    $brand-light: $gray-300;
    $brand-gray: $gray-600;
    $brand-dark: $gray-900;
    $brand-border: $brand-light;
    $brand-scroll-border: lighten($brand-dark, 5%);
    $brand-selection: saturate(lighten($brand-primary, 15%), 20%);

    --brand-primary: #{$brand-primary};
    --brand-secondary: #{$brand-secondary};
    --brand-light: #{$brand-light};
    --brand-gray: #{$brand-gray};
    --brand-dark: #{$brand-dark};
    --brand-border: #{$brand-border};
    --brand-scroll-border: #{$brand-scroll-border};
    --brand-selection: #{$brand-selection};
    --brand-gradient: linear-gradient(135deg, var(--brand-primary), var(--brand-secondary));
  }
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html {
    font-size: 10px;
  }
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
}

body {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.375rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--bs-body-bg);
    border: var(--brand-scroll-border) 1px solid;
    border-top: 0;
    border-bottom: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, var(--brand-primary), var(--brand-secondary) 85%);
    outline: none;
  }
}

::selection {
  color: var(--brand-selection);
  background: var(--brand-primary);
}

.letter-spacing {
  letter-spacing: 0.025rem;
}

// Custom
.resume-container {
  padding: 5rem 0;
  margin: 0 auto;
  transition: 0.2s all ease;

  @media print {
    padding: 1rem 0;
  }
}

.resume-line-x {
  height: 3px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 3rem;
  background: var(--brand-gradient);
  transition: 1s background-color ease;
}

.resume-hello {
  font-family: $font-head;
  @include font-size(6rem);
  font-weight: 800;
  background: var(--brand-gradient);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include media-breakpoint-down(xl) {
    @include font-size(5rem);
  }

  @include media-breakpoint-down(lg) {
    text-align: center;
  }
}

.resume-boxed {
  @include font-size(1.5rem);
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  border: solid var(--brand-border);

  @include media-breakpoint-up(lg) {
    @include padding(0.5rem 3rem);
    border-width: 3px;
  }

  @include media-breakpoint-down(lg) {
    @include font-size(1.25rem);
    @include padding(0.3rem 2rem);
    border-width: 2px;
  }

  @include media-breakpoint-down(sm) {
    @include font-size(1rem);
  }
}

.resume-description {
  @include font-size(1.25rem);

  p {
    text-indent: 2rem;
  }
}

.resume-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 2rem 0;

  @include media-breakpoint-between(sm, lg) {
    align-items: flex-start;
  }

  li {
    @include font-size(1.75rem);
    @include padding(0.25rem);
    font-weight: 400;
    display: block;
    margin: 0;

    @include media-breakpoint-down(xl) {
      @include font-size(1.5rem);
    }
  }

  a {
    color: var(--bs-body-color);
    text-decoration: none;
    display: inline-block;
    transition: 0.2s color ease-in-out;
    line-height: 2rem;

    @include media-breakpoint-down(xl) {
      line-height: 1.75rem;
    }

    &:hover {
      color: var(--brand-primary);
    }

    &:not(&.link-lg) {
      @include media-breakpoint-up(lg) {
        @include font-size(1.5rem);
      }
      @include media-breakpoint-down(lg) {
        @include font-size(1.25rem);
      }
    }

    &.link-lg {
      font-weight: 600;

      @include media-breakpoint-up(xl) {
        @include font-size(2rem);
      }
      @include media-breakpoint-down(xl) {
        @include font-size(1.75rem);
      }
    }
  }
}

.text-verified {
  @include font-size(1rem);
  text-align: center;
  line-height: 1.2;
}

.resume-social {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.25rem;

  @include media-breakpoint-between(sm, lg) {
    justify-content: flex-start;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 1.5rem;
  }

  a {
    --social-color: var(--brand-secondary);

    color: var(--brand-primary);
    transition: 0.5s color ease;

    &:hover {
      color: var(--social-color);
    }
  }
}

.resume-picture {
  img {
    width: 15rem;
    margin: 0 auto;

    @include media-breakpoint-down(xl) {
      width: 80%;
      max-width: 10rem;
    }

    @include media-breakpoint-down(md) {
      max-width: 8rem;
    }
  }
}

.resume-soft {
  @include font-size(3rem);
  font-weight: bold;
  line-height: 3rem;
  margin-block-start: 1rem;
  margin-block-end: 2.5rem;
}

.resume-timeline {
  $logo-size: 5vw;
  $line-gap-col: 1rem;
  $line-gap-row: 1.5rem;

  display: grid;
  row-gap: $line-gap-row;
  column-gap: $line-gap-col;
  grid-template-columns: auto auto 1fr;

  &__company {
    --dot-size: 12px;
    --dot-primary: var(--brand-primary);
    --dot-secondary: var(--dot-primary);

    display: contents;

    & *::selection {
      color: var(--dot-primary);
      background: var(--dot-secondary);
    }
  }

  &__logo {
    width: $logo-size;
    max-width: rfs-value(100px);

    img {
      border: transparent 1px solid;
      width: 100%;
      max-width: rfs-value(100px);
      min-width: rfs-value(70px);

      [data-bs-theme='dark'] & {
        border-color: var(--brand-dark);
      }
    }
  }

  &__dot {
    --color-line-size: 2px;

    display: flex;
    align-items: flex-start;
    justify-self: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    width: calc(var(--dot-size) * 1.5);

    // Line
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: math.div($line-gap-row, 2) * -1;
      transform: translateX(-50%);
      width: var(--color-line-size);
      height: calc(100% + $line-gap-row);
      background: linear-gradient(to bottom, var(--dot-primary) 50%, var(--dot-secondary));
    }

    &--first::after {
      top: 50%;
    }

    // Dot
    i {
      box-sizing: border-box;
      display: block;
      width: var(--dot-size);
      height: var(--dot-size);
      position: absolute;
      left: 50%;
      top: math.div($line-gap-row, 2);
      transform: translate(-50%, -50%);
      z-index: 1;

      &::before {
        content: '';
        display: block;
        width: var(--dot-size);
        height: var(--dot-size);
        border-radius: 50%;
        background: var(--dot-primary);
        border: 1px solid var(--dot-primary);
      }

      &::after {
        content: '';
        display: block;
        width: var(--dot-size);
        height: var(--dot-size);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
        background: var(--dot-primary);
        z-index: -1;
        border-radius: 50%;
        opacity: 0;
      }
    }
  }

  &__logo + &__dot {
    --dot-size: 14px;

    i {
      top: 50%;
      transform: translate(-50%, -50%);

      &::before {
        background: #fff;
      }

      &::after {
        animation: dot-pulse 3s ease-in-out;
        animation-iteration-count: infinite;
        @keyframes dot-pulse {
          25%,
          75% {
            opacity: 0.1;
          }
          to {
            transform: translate(-50%, -50%) scale(2.5);
            opacity: 0;
          }
        }
      }
    }
  }

  &__name {
    font-family: $font-condensed;
    @include font-size(1.5rem);
    font-style: italic;
    align-self: center;
    line-height: 1.5rem;
    position: relative;
    font-weight: 500;

    span {
      display: block;
      position: relative;
    }

    em {
      position: absolute;
      left: 0;
      top: 100%;
      display: block;
      font-size: 0.875rem;
      font-weight: 400;
      opacity: 0.75;
    }
  }

  &__date {
    font-family: $font-condensed;
    font-style: italic;
    justify-self: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.025rem;
    color: var(--company-color);

    [data-bs-theme='light'] & {
      filter: brightness(85%) contrast(125%);
    }
  }

  .date-end {
    font-weight: 600;
    margin-bottom: 0.75rem;
  }

  .date-start {
    @include font-size(0.875rem);
  }

  .date-current {
    color: var(--bs-body-color);
    font-weight: 600;
    @include font-size(1.125rem);
  }

  &__position {
    h4 {
      font-weight: 600;
    }

    p {
      line-height: 1.5;
      @include font-size(1.125rem);
    }
  }
}

.nav-item--lang {
  width: 2.2rem;
}
