@import 'app';

// Layout & components
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
//@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
//@import 'bootstrap/scss/button-group';
//@import 'bootstrap/scss/nav';
//@import 'bootstrap/scss/navbar';
//@import 'bootstrap/scss/card';
//@import 'bootstrap/scss/accordion';
//@import 'bootstrap/scss/breadcrumb';
//@import 'bootstrap/scss/pagination';
//@import 'bootstrap/scss/badge';
//@import 'bootstrap/scss/alert';
//@import 'bootstrap/scss/progress';
//@import 'bootstrap/scss/list-group';
//@import 'bootstrap/scss/close';
//@import 'bootstrap/scss/toasts';
//@import 'bootstrap/scss/modal';
//@import 'bootstrap/scss/tooltip';
@import 'bootstrap/scss/popover';
//@import 'bootstrap/scss/carousel';
//@import 'bootstrap/scss/spinners';
//@import 'bootstrap/scss/offcanvas';
//@import 'bootstrap/scss/placeholders';

// Helpers
@import 'bootstrap/scss/helpers';

// Utilities
@import 'bootstrap/scss/utilities/api';

// Icons
@import 'bootstrap-icons/font/bootstrap-icons';

// Custom
.resume-container {
  padding-top: 6rem;
  width: 80%;
  margin: 0 auto;
}

.resume-line-x {
  height: 3px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 3rem;
  background: $gradient-cyan;
}

.resume-social {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-hello {
  font-size: 6rem;
  font-weight: 800;
  background: $gradient-cyan-bright;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resume-boxed {
  font-family: $font-display;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0.5rem 3rem;
  letter-spacing: 1px;
}

.resume-description {
  p {
    text-indent: 2rem;
  }
}

.resume-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 2rem 0;

  li {
    padding: 0.25rem;
    font-weight: 400;
    font-size: 1.5rem;
    display: block;
    margin: 0;
  }

  a {
    color: $dark;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s color ease-in-out;

    &:hover {
      color: $primary;
    }

    &.link-lg {
      font-weight: 700;
      font-size: 2rem;
    }
  }
}

.resume-picture {
  img {
    width: 15rem;
    margin: 0 auto;
  }
}

.resume-soft {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.resume-timeline {
}
